<%= form_with(model: product_type, local: true) do |form| %>
  <% if product_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

      <ul>
      <% product_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_type_name %>
  </div>

  <%= form.fields_for :fields, remote: true do |builder| %>
    <%= render 'field', f: builder %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  <%= link_to_add_row('Add Task', form, :fields, class: 'btn btn-primary') %>
  </div>
<% end %>
